body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #132a4e;
  color: black;
  display: flex;
  flex-direction: column;
  font-family: "Open Sans", sans-serif;
}

.header {
  border-bottom: 1px solid #132a4e;
  padding-top: 5px;
  padding-bottom: 1px;
  background-color: #132a4e;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1000%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.mm-logo {
  font-size: 40px;
  padding: 1.5rem;
  color: #ffc107;
  text-align: center;
}
.mm-logo-link {
  text-decoration: none;
  color: #ffc107;
}

.mm-logo-link:hover {
  cursor: pointer;
}

.header .aboutus:hover {
  cursor: pointer;
}

.aboutus {
  font-size: 40px;
  padding: 1.5rem;
  color: #ffc107;
  text-align: right;
  text-decoration: none;
}

#enter-text {
  min-height: 100vh; /* This ensures the section fills the entire height of the viewport */
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 80px;
  color: #ffc107;
  font-weight: 600;
}
@keyframes fadeIn {
  from {
      opacity: 0;
  }
  to {
      opacity: 1;
  }
}
#entertext {
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}


#entertext:after {
  content: "";
  display: block;
  margin: 0 auto;
  height: 3px;
  width: 50%;
  background: #ffc107;
  transition: width .2s;
}

#entertext:hover:after {
  width: 100%;
}

#enter-text {
  animation: fadeIn 2s ease-in-out;
}

/*Section-White*/
.section-white {
  background-color: white;
  width: 100%;
  height: 400px;
  color: #132a4e;
  display: flex;
  flex-direction: column;
  min-height: 600px;
  justify-content: center;
  align-items: center;
}

#first-text-box {
  font-size: 35px;
  color: #132a4e;
  padding: 0.1rem;
}

#second-text-box {
  font-size: 40px;
  padding: 0.1rem;
}
/*About Us */

.about-us {
  background-color: #343a40;
  width: 100%;
  min-height: 565git remote -vpx;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 5px;
}

#about-us-title {
  text-align: center;
  color: #ffc107;
  font-size: 40px;
  text-decoration: underline;
}
#about-us-info {
  text-align: left;
  width: 100%;
  max-width: 800px;
  padding-top: -20px;
  padding-right: 20px;
  padding-left: 5rem;
  color: #ffc107;
}

/* Boxes  */


.container {
  display: flex;  
  justify-content: center; 
  gap: 30px;
}

.box:hover {
  transform: scale(1.05); 
  background-color: #1a1a1a; 
  transition: all 0.3s ease;
}

.box {
  width: 300px;
  height: 200px;
  margin: 30px;
  padding: 20px;
  background-color: black;
  color: white;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease; 
}

h1 {
  font-size: 24px;
  margin-bottom: 20px;
  color:#ffc107;
}

p {
  font-size: 16px;
}
#about-us-step{
  font-size:20px;
}
.get-started-btn {
  display: inline-block;
  background-color: #ffc107;
  color: #132a4e;
  padding: 10px 15px;
  font-size: 18px;
  border-radius: 30px;
  width: fit-content;
  margin-top: 20px;
  text-decoration: none;
  transition: background-color 0.3s, transform 0.3s;
}

.get-started-btn:hover {
  background-color: #e5a900;  /* Slightly darker shade for hover */
  transform: scale(1.05);
}

/* User Input */
.userInput {
  background-color: white;
  width: 100%;
  min-height: 800px;
  color: white;
  display: flex;
  flex-direction: column;
  padding-top: 5px;
}

